div.header {
	
	margin-top: 1%;
	width: 100%;
	text-align: center;
	font-size: 100px;
	border-bottom: white solid;
	z-index: 10;
	color: #5EC1C2;
	border-color: #5EC1C2;
	/*font-family: 'Anton', sans-serif;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Gloria Hallelujah', cursive;
	font-family: 'Righteous', cursive;
	font-family: 'Permanent Marker', cursive;
	font-family: 'Monoton', cursive; */
	font-family: 'Bangers', cursive;
	transition: all 0.3s ease-out;
}

div.header:hover {
	/*background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
	color: white;
	border-color: white;
}

a {
	font-family: 'Audiowide', cursive;
}

div.content {
	margin: 0 10% 2% 10%;
	font-size: 15pt;
	text-shadow: 0.5px 0.5px white;

}

.moscow {
	float: left;
	width: 50%;
	border: black dotted;
	margin-right: 15px;
	margin-bottom: 10px;
	transition: all 0.3s ease-out;
	position: relative;
	top: 0px;
	left: 0px;
}

.moscow:hover {
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	top: -6px;
	left: -6px;
	transition: transform 1.5s ease-in-out;
	transform: scale(1) rotate(360deg);
}

.cities {
	text-align: left;
	margin-left: 5px;
	color: black;
	font-family: 'Permanent Marker', cursive;
	position: relative;
	transition: all 0.3s ease-out;
	top: 0px;
	left: 0px;
	width: 20%;	
}

.cities:hover {
	top: -3px;
	left: -3px;	
	text-shadow: 3px 3px white;
}

body {
	background: url("http://www.pptbackgrounds.org/uploads/dream-autumn-light-powerpoint-backgrounds.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

.table {
	margin-left: 10%;
	color: white;
}

p.description {
	/*font-family: 'Permanent Marker', cursive;*/
	font-family: 'Righteous', cursive;
	
}